@tailwind base;
@tailwind components;
@tailwind utilities;

.padding {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}

@media screen and (min-width: 768px) {
  .padding {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .padding {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .padding {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

.no-scrollbar::-webkit-scrollbar {
  width: 3px;
  -webkit-appearance: none;
}

@media screen and (min-width: 768px) {
  .no-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
}

.no-scrollbar::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  background-color: rgb(37 99 235);
  border-radius: 0.3rem;
}

.gradient {
  @apply bg-gradient-to-r from-cyan-400 to-blue-600 text-transparent bg-clip-text;
}
