@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  -webkit-appearance: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
}

.gradient {
  @apply bg-gradient-to-r from-cyan-400 to-blue-600 text-transparent bg-clip-text;
}
